# Dependency directories
node_modules/
frontend/node_modules/
backend/node_modules/

# Build directories
dist/
frontend/dist/

# Env files
.env
frontend/.env
backend/.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
